[Unit]
Description=MonkeyMoney App
After=network.target

[Service]
ExecStart=$YARN_BIN generate && $YARN_BIN start -p 12001
WorkingDirectory=/home/ubuntu/monkeymoney/client
Restart=always
RestartSec=3
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=monkeymoney-app
#User=<alternate user>
#Group=<alternate group>
Environment="YARN_BIN=/home/ubuntu/.nvm/versions/node/v16.6.2/bin/yarn"

[Install]
WantedBy=multi-user.target
