[Unit]
Description=MonkeyMoney App
After=network.target

[Service]
ExecStart=/home/ubuntu/.nvm/versions/node/v16.6.2/bin/yarn generate && /home/ubuntu/.nvm/versions/node/v16.6.2/bin/yarn start -p 12001
WorkingDirectory=/home/ubuntu/monkeymoney/client
Restart=always
RestartSec=3
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=monkeymoney-app
#User=<alternate user>
#Group=<alternate group>
Environment=""

[Install]
WantedBy=multi-user.target
